# Dependencias do Node.js
node_modules/

# Autenticacao e Cache do WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Imagens de erro geradas pelo robo
erro_*.png

# Logs do sistema e do Node
log_sistema.txt
npm-debug.log*

# Variaveis de ambiente e senhas (caso use no futuro)
.env
config/accounts.js

# Arquivos inuteis do Sistema Operacional
Thumbs.db
.DS_Store